<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FindYourBusiness</title>
    <link rel="icon" href="img/favicon.png">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="scripts/index.js"></script>
</head>
<nav>
    <h2><a href="/"><img src="img/Logo.png" alt="Logo"></a></h2>
    <ul>
        <!--Auskommentiertes Textfeld zur Suche, wird ein und ausgeklappt!
        <li><a><input type="text" class="textfeld" id="textfeld" style="width: 40%;vertical-align:super;margin-right: 10px;background-color: #4ed679;border: black;border-style: solid;color: black;border-width:3px;"></a></li>
        -->
        <li id="searchInput">
            <input type="search" id="navSearch" name="search" list="searchItems" onkeydown="importProducts()">
            <datalist id="searchItems"></datalist>
            <img src="img/search.png" alt="Search" id="searchIcon" onclick="changeToSearch(event)">
        </li>
        <li><a href="/"><img src="img/Home.png" alt="Home"></a></li>
        <li><a href="/products"><img src="img/shop.png" alt="Product"></a></li>
        <li><a href="/productCreation"><img src="img/productCreation.svg" alt="ProductCreation"></a></li>
        <li><a href="/login"><img src="img/Login.png" alt="Account Management"></a></li>
    </ul>
</nav>
<body>
    <%- body %>
</body>
<footer>
</footer>
</html>