<link rel="stylesheet" href="styles/index.css">
<script src="scripts/general.js"></script>
<div>
</div>
<main>
    <div id="LandingBanner"> 
        <img id="LandingBannerImage" src="img/banner.png" onclick="switchBannerImageAfterTime()">
    </div>

    <div id="containerMotto">
        <p>
            As Steve Jobs famously stated, 'Innovation distinguishes between a leader and a follower.'<br> In the
            business world, software innovation can be the key to success. </br> <strong>It's our mission to find the
                perfect fit for your business, so that you can stay ahead in the competition!</strong>
        </p>
    </div>
    <div id="gridContainerInfo">
        <div id="gridContentLeft">
            <img src="img/Content1Left.png">
        </div>
        <div id="gridContentRight">
            <p>Business software has become a crucial component for
                companies looking to increase efficiency and drive growth. With solutions ranging from financial
                management to customer relationship management, the right software can automate routine tasks and
                provide valuable insights. The market is constantly evolving, with new innovations and integrations
                being introduced regularly. It's essential for businesses to carefully evaluate their needs and choose
                the software that will best support their goals and operations.</p>
        </div>
    </div>
</main>