<div>
</div>
<main>
    <div id="LandingBanner" style="background-color:#4ed679 ;margin-bottom: 0%;height: 100%;">
        <img src="img/banner.png">
    </div>

    <div id="top-container" style="margin-top:0;color: black;border-bottom: white;border-bottom-width: thin;border-bottom-style: solid;background-color: #4ed679;text-align: center;">
        <p style="font-style: oblique; font-size:x-large;margin-block-start: 0;">
            As Steve Jobs famously stated, 'Innovation distinguishes between a leader and a follower.'<br> In the business world, software innovation can be the key to success. </br> <strong>It's our mission to find the perfect fit for your business, so that you can stay ahead in the competition!</strong>
        </p>
    </div>
    <div id="bottom-container" style="margin-top: 50px">
        <div id="content1Left" style="display:inline-block; width: 50%; float: left;">
            <img src="img/Content1Left.png" style="border-top: 50px; border-radius: 10%;width: 100%;height: 100%;float: left;margin-right: 0;margin-left: 10%;">
        </div>
        <div id="content1Right" style="display: inline-block; background-color:black;color:white; width: 30%;border-radius: 20%;margin-top: 6%;">
            <p style="font-style:oblique; font-size:x-large">Business software has become a crucial component for companies looking to increase efficiency and drive growth. With solutions ranging from financial management to customer relationship management, the right software can automate routine tasks and provide valuable insights. The market is constantly evolving, with new innovations and integrations being introduced regularly. It's essential for businesses to carefully evaluate their needs and choose the software that will best support their goals and operations.</p>
        </div>
    </div>
</main>