<link rel="stylesheet" href="styles/index.css">
<link rel="stylesheet" href="styles/index-responsive.css">
<div>
</div>
<main>
    <div id="LandingBanner"> 
        <img id="LandingBannerImage" src="img/banner.png" onclick="switchBannerImageAfterTime()">
    </div>

    <div id="containerMotto">
        <p>
            As Steve Jobs famously stated, 'Innovation distinguishes between a leader and a follower.'<br> In the
            business world, software innovation can be the key to success. </br> <strong>It's our mission to find the
                perfect fit for your business, so that you can stay ahead in the competition!</strong>
        </p>
    </div>
    <div id="gridContainerInfo">
        <div id="gridContentLeft">
            <img src="img/Content1Left.png">
        </div>
        <div id="gridContentRight">
            <p>We are a leading online laptop store, committed to providing our customers with the best products and services.
                Our extensive selection of laptops caters to all business needs, from powerful workstations to portable ultrabooks.
                We prioritize efficiency, affordability, and quality, ensuring that every purchase is a smart investment.
                Partner with us and take your business to the next level with cutting-edge technology at your fingertips.</p>
        </div>
    </div>
</main>