<main>
    <div class="LoginForm" style="height:600px">
        <form>
            <div class="LoginText">
                <h3 style="display: inline-block;font-size: x-large;border-bottom: 3px;border-bottom-style: solid;">
                    Login to your account</h3></br>
                <label for="input-user-name">Username:</label></br>
                <input type="text" id="input-user-name" name="user-name"></br>
                <label for="input-password">Password:</label></br>
                <input type="password" id="input-password" name="password" style="margin-bottom: 5px;"></br>
                <button type="submit" value="Submit" class="LoginButton"><img src="img/LoginFormButton.png"></button>
                </br>
                <h3 style="font-size:x-large;color: black;">Need an account? <a href="/register">Register here</a>
                </h3></br>
                <img src="img/Logo.png" style=" width: 300px;height: 60px;border-top: 3px;border-top-style: solid;">
            </div>
        </form>
    </div>
</main>