<link rel="stylesheet" href="styles/login.css">
<script src="scripts/login.js"></script>
<main>
    <div class="containerLoginForm">
        <form>
            <div class="containerLoginText">
                <h3  id="containerLoginCaption">Login to your account</h3></br>
                <label for="loginInputUsername">Username:</label></br>
                <input type="text" id="loginInputUsername" name="user-name"></br>
                <label for="loginInputPassword">Password:</label></br>
                <input type="password" id="loginInputPassword" name="password"></br>
                <button type="button" value="Button" class="loginButton" onclick="login()"><img src="img/LoginFormButton.png"></button>
                </br>
                <h3 id="loginLinkRegister">Need an account? <a href="/register">Register here</a>
                </h3></br>
                <img id="loginFooterLogo" src="img/Logo.png">
            </div>
        </form>
    </div>
</main>