<script src="scripts/productPage.js"></script>
<script src="scripts/general.js"></script>
<link rel="stylesheet" href="styles/productPage_responsive.css">
<main>
    <div class="productGrid" id="productGrid">
    </div>
</main>