<link rel="stylesheet" href="styles/login.css">
<link rel="stylesheet" href="styles/register.css">
<main>
    <div class="containerLoginForm">
        <form>
            <div class="containerLoginText">
                <h3 id="containerLoginCaption">Create an Account</h3></br>
                <div class="containerLoginInline">
                    <label for="registerInputFirstName" id="registerLabelFirstName">First Name:</label></br>
                    <input type="text" id="registerInputFirstName" name="first-name">
                    <label for="registerInputLastName" id="registerLabelFirstName">Last Name:</label></br>
                    <input type="text" id="registerInputLastName" name="last-name"></br>
                </div>
                <label for="birthday">Birthday:</label></br>
                <input type="date" id="registerInputBirthday" name="birthday"></br>
                <label for="registerInputEmail">Email Adress:</label></br>
                <input type="text" id="registerInputEmail" name="email"></br>
                <label for="registerInputPassword">Password:</label></br>
                <input type="password" id="registerInputPassword" name="password"></br>
                <button type="submit" value="Submit" class="loginButton"><a href="/"><img src="img/LoginFormButton.png"></a>
                </button>
                </br>
                <img src="img/Logo.png" id="loginFooterLogo">
            </div>
        </form>
    </div>
</main>