/*Styling for Register and Login*/
.containerLoginForm {
    width: 700px;
    height:600px;
    display: inline-block;
    background-color:#4ed679;
    border-radius: 10%;
    margin-top: 5%;
}

.containerLoginText {
    margin-top:15px;
    font-size: x-large;
}

#containerLoginCaption{
    display: inline-block;font-size: x-large;border-bottom: 3px;border-bottom-style: solid
}

label{
    font-size: x-large;
}   

input{
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: left;
    background-color: black;
    color: whitesmoke;
    width: 80%;
    height: 40px;
    border-radius: 5%;
    font-weight: bold;
    font-size: large;
}

#loginInputPassword{
    margin-bottom: 5px
}

#loginLinkRegister  {
    font-size:x-large;
    color: black;
    margin-block-start: 10px;
}

#loginFooterLogo{
    width: 300px;
    height: 60px;
    border-top: 3px;
    border-top-style: solid;
}

.loginButton {
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
}

.loginButton img{
    width: 60px;
    height:60px;
    margin-top: 35px;
}

.loginButton:hover {
    background-color:transparent;
    border-style: solid;
    border-color: transparent;
}

