/*General */
h3 {
    text-align: center;
    font-size: 30px;
}
/*Upper Part, Product Description and Image*/
.productDetailGrid {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 1em;
    margin-top: 50px; 
    margin-left: 2%;
    margin-right: 2%;
}

.productDetailGridBoxLeft, .productDetailGridBoxRight {
    width: 100%;
    height: 500px;
    background-color: cornflowerblue;
}
.productDetailGridBoxLeft{
    background-color: white;
}

.productDetailGridBoxLeft, .productDetailGridBoxRight {
    border-radius: 10px;
}

#productDetailTitleName {
    text-align: center;
    font-size: xx-large;
    margin: 5%;
    font-weight: bold;
}

/** Product Description GridBox*/
.productDetailDescriptionGrid
{
    display: grid;
    grid-template-columns: 2fr 2fr;
}


#productDetailDescriptionText {
    text-align: left;
    font-size: x-large;
    margin-left: 10%;
}
.productDetailPrice {
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
    margin-top: 2%;
    font-weight: bold;
}

/*ProductImage */
#productDetailImage {
    width: 600px;
    height: 500px;
}

#productDetailImage:hover {
    transform: scale(0.9);
}

/*Lower Part, ProductDescription and Delivery Informations*/

.productDetailInformations {
    width: 96%;
    height: 600px;
    margin-top: 2%;
    margin-left: 2%;
}

.productDetailInformationsGrid{
    display: grid;
    grid-template-columns: 2fr 2fr;
    text-align: center;
    grid-gap: 1em;
    height: 650px;
    
}

.productDetailPrice span {
    font-size: 30px;
}

#addToCartButton {
    background-color:cornflowerblue ;
    padding: 10px;
    width: 100%;
    color: #ffffff;
    border: 4px double #cccccc; 
    border-radius: 10px; 
    margin-top: 10%;
}

#addToCartButton:hover {
    background-color: red;
    box-shadow: 0 0 15px #FF0000;
  }

#shoppingCartButton{
    width:70px;
    height:70px;
    vertical-align:"middle"
}


#detailsLeft label, #detailsLeft span, #detailsRight span {
    font-size: 25px;
    text-align: left;
    margin-left: 2%;
    
}

#detailsLeft {
    width: 75%;
    text-align: left;
}

#deliveryLogo{
    width: 60%;
    height: 200px;
    margin-top: 30px;
}


#detailsLeft, #detailsRight {
    background-color: cornflowerblue;
    width: 100%;
    border-radius: 10px;
}

/** Styling of the product informations*/

#productDetailTable{
    margin-left: 1%;
    border-spacing: 15px;
}

#productDetailTable td{
    margin-left: 2%;
    width: 20%;
}

#productDetailTable th{
    margin-left: 2%;
    width: 5%;
}


/** Product Preview Page Button*/
#returnToCreation{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    height: 100px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: cornflowerblue;
} 

#returnToCreation:hover{
    opacity: 80%;
}