/*General Designs*/
body {background-color: #1e1f22;margin: 0;}  
main {
    text-align: center;
}
h2 {
    display: inline-block;  
    margin-left: 42%;
}
h2 img {
    width: 300px;
    height: 60px;
}
nav {width: 100%;overflow: auto;background-color:#5866f2}
nav ul {
    text-align: right;
    margin-right: 5%;
    display: inline-block;
    float: right;
    margin-top: 25px;
}
nav ul li{display: inline; text-align: right}
nav ul li img{
    width: 40px;
    height: 40px;
}
nav ul li:hover {
    border-bottom: black;
    border-bottom-style: solid;
    border-width: thick;
    border-spacing: 5px;
}
nav ul li button:hover {
    border-bottom: black;
    border-bottom-style: solid;
    border-width: thick;
    border-spacing: 0px;
}
nav ul li:active {
    border-bottom: white;
    border-bottom-style: solid;
    border-width: thick;
    border-spacing: 5px;
}
nav ul li a {
width: 20%;
text-align: center;
padding: 15px;
height: 100%;
}

/*Product Page Designs*/
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

.grid-item {
    color:black;
    background: #595959;
    border-radius: 15%;
    height: 550px;
    border-width: 2px;
    word-break: break-word;
}

.grid-item img {
    width: 300px;;
    height: 300px;
    object-fit: fill;
}

.grid-image {
    height:350px;
    border-top-left-radius: 18%;
    border-top-right-radius: 18%;
}

.grid-text {
    height: 200px;
    border-bottom-left-radius: 29%;
    border-bottom-right-radius: 29%;
    background-color:#5866f2;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/*Login Page Designs
.LoginForm {
    width: 700px;
    height: 700px;
    display: inline-block;
    background-color: #4ed679;
    border-radius: 10%;
    margin-top: 5%;
   
}

.LoginText {
    margin-top:15px;
    font-size: x-large;
}

label{
    font-size: x-large;
}

input{
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: left;
    background-color: black;
    color: whitesmoke;
    width: 80%;
    height: 40px;
    border-radius: 5%;
    font-weight: bold;
    font-size: large    ;
}

.LoginInline {
    flex-direction: row;
    align-items: center;
    margin-right: 0;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.LoginInline label{

}

.LoginInline input{
    width: 21%;
}

.LoginButton {
    background-color: transparent;
    border: none;
}

.LoginButton img{
    width: 60px;
    height:60px;
    margin-top: 35px;
}

.LoginButton:hover {
    background-color:transparent;
    border-style: solid;
    border-color: transparent;
}

.Details {
    visibility:hidden;
}*/



