/*General Designs*/
body {
    background-color: #1e1f22;
    margin: 0;
}

main {
    text-align: center;
}

.requires-login {
    display: none;
}

span {
    display: inline-block;  
    margin-left: 35%;
    vertical-align: top;
}

span img {
    margin-top: 5%;
    width: 300px;
    height: 60px;
}

nav {
    width: 100%;overflow: auto;
    background-color:#8A7D61;
    height: 125px;
    padding-top: 25px;
}

nav ul {
    text-align: right;
    margin-right: 5%;
    display: inline-block;
    float: right;
    margin-top: 25px;
}

nav ul li {
    display: inline;
    text-align: right;
}

nav ul li img{
    width: 40px;
    height: 40px;
}

nav ul li:hover {
    border-bottom: black;
    border-bottom-style: solid;
    border-width: thick;
    border-spacing: 5px;
}

nav ul li button:hover {
    border-bottom: black;
    border-bottom-style: solid;
    border-width: thick;
    border-spacing: 0px;
}

nav ul li:active {
    border-bottom: white;
    border-bottom-style: solid;
    border-width: thick;
    border-spacing: 5px;
}

nav ul li a {
width: 20%;
text-align: center;
padding: 15px;
height: 100%;
}

/*Product Page Designs*/
.productGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

/*Product Page Designs*/
.productGrid img {
   width:2px;
   height: 2px;
}

.grid-item {
    color:black;
    background: white;
    border-radius: 12%;
    border-bottom-left-radius: 18%;
    border-bottom-right-radius: 18%;
    height: 600px;
    border-width: 2px;
    word-break: break-word;
    margin-bottom: 20px;
}

.grid-item img {
    width: 300px;;
    height: 300px;
    object-fit: fill;
}

.grid-image {
    height:350px;
    border-top-left-radius: 18%;
    border-top-right-radius: 18%;
}

.grid-image:hover {
    transform: scale(0.95); 
}

.grid-text {
    height: 250px;
    border-bottom-left-radius: 29%;
    border-bottom-right-radius: 29%;
    background-color:#8A7D61;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

#searchIcon {
    visibility: visible;
}

input[type="search"] {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    background-color: black;
    visibility: hidden;
    margin-right: -40px;
    color: whitesmoke;
    text-align:center;
    font-weight: bold;
    padding: 10px;
    vertical-align: bottom;
    }

#searchInput:hover{
    border: none;
}


#loginNav{
    margin-left: 60px;
}

#startSearch
{
    background-color: black;
    color: whitesmoke;
    visibility: hidden;
    text-align:center;
    font-weight: bold;
    padding: 10px;
    vertical-align: bottom;
    width:50px;
    height: 40px;
    border-radius: 10px;
    
}

.LoginBanner{
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    background-color: transparent;
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    padding-top: 1px;
}

.productFilter{
    width: 100%;
    background-color: #8A7D61;
    height:100px;
    padding-top: 0px;
    border-top: #1e1f22 solid;
}

.productFilter input{
    width: 200px;
    height: 50%;
    border: black solid;
    border-radius: 10px;
    margin: 20px;
    color: black;
    margin-top: 25px;
}

.productFilter label{
    font-weight: bold;
}

#filterPrice{
    vertical-align: middle;
    border: solid black;
}

#currentPrice{
    margin-right: 10px;
    margin-left: -5px;
    font-weight: bold;
}
