/*General Designs*/
body {
    background-color: #1e1f22;
    margin: 0;
}

main {
    text-align: center;
}

.requires-login {
    display: none;
}

.LoginBanner{
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    background-color: transparent;
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    padding-top: 1px;
}

/* New Nav Bar*/
.navGridBox{
    display: grid;
    grid-template-columns: 0.5fr 1fr 4fr;
    margin-top: 20px;
}

nav {
    width: 100%;overflow: auto;
    background-color:#8A7D61;
    height: 125px;
    padding-top: 25px;
}

nav ul {
    text-align: right;
    margin-right: 50px;
}

nav ul li {
    display: inline;
}

nav ul li img{
    width: 40px;
    height: 40px;
}

nav ul li:hover {
    border-bottom: black;
    border-bottom-style: solid;
    border-width: thick;
    border-spacing: 5px;
}

nav ul li a {
    padding: 10px;
}


span img {
    width: 300px;
    height: 60px;
}


#navLoginGrid
{
    text-align: center;
}

#navLogoGrid
{
    margin-left:20%
}

.navItems{
    display: none;
}

/** Nav Icon for Colappsing and Extanding the menu*/
#navCollapseMenu img{
    transform:rotate(90deg);
}

#navCollapseMenu {
    display: none;
}

#navCollapseMenu, #navExpandMenu{
    margin-left: 10px;
}

/** Stylings for responsive handling of the search bar **/
.searchFieldSmall{
    display: block;
    width: 100%;
    height:100px;
    background-color: #8A7D61;
    text-align: center;
}
#startSearchSmall{
    width: 12.5%;
    height:50px;
    background-color: black;
}

#navSearchSmall{
    width: 62.5%;
    height:50px;
    background-color: black;
}

.searchFieldSmall #searchIcon{

    width: 20px;
    height:20px;
}

input[type="search"] {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    background-color: black;
    visibility: hidden;
    margin-right: -40px;
    color: whitesmoke;
    text-align:center;
    font-weight: bold;
    padding: 10px;
    vertical-align: bottom;
}

#searchInput:hover{
    border: none;
}

#startSearch,#startSearchSmall
{
    background-color: black;
    color: whitesmoke;
    visibility: hidden;
    text-align:center;
    font-weight: bold;
    padding: 10px;
    vertical-align: bottom;
    width:50px;
    height: 40px;
    border-radius: 10px;
    
}
#startSearchSmall, #navSearchSmall, #searchIcon
{
    visibility: visible;

}






